

.container {
    padding: 7%;
    font-family: 'Lato', Arial;
}

input {
    width: 100%;
    padding: 2%;
    border-radius: 4px;
    border: 1px solid #777; 
}

.forgot {
    width: 100%;
    text-align: right;
}

.forgot p {
    width: auto;
    font-weight: lighter;
    color: #666;
}

#welcome {
    font-size: 18px;
    color: #323636;
    font-weight: bold;
}

#text {
    font-weight: lighter;
    color: #666;
}

button {
    width: 100%;
    padding: 10px 5px;
    background-color: #2FC1D1;
    border: none;
    color: white;
    font-weight: bolder;
    border-radius: 4px;
    box-shadow: 0px 4px 6px #ccc;
    font-family: 'Khand', Arial;
    letter-spacing: 1px;
}

form span {
    font-size: 12px;
    color: tomato;
}